name: Send Message to Telegram and wechat

on:
  workflow_dispatch:  # 允许手动触发 
  schedule:
    - cron: '30 6 */2 * *'  # 每隔 2 天的早上 6 点 30 分执行,北京时间 14:30
  push:
    branches:
      - main  # 或其他你希望触发的分支（加上这个玩意就会邮件提醒你脚本执行了）
jobs:
  send_message:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'  # 使用合适的 Python 版本

      - name: Install dependencies
        run: |
          pip install requests

      - name: Run login.py
        env:
          TELEGRAM_BOT_TOKEN: ${{ secrets.TELEGRAM_BOT_TOKEN }}
          TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
          CUSTOM_MESSAGE: ${{ secrets.CUSTOM_MESSAGE }}
          PUSHPLUS_TOKEN: ${{ secrets.PUSHPLUS_TOKEN }}
          WX_MESSAGE_TITLE: ${{ secrets.WX_MESSAGE_TITLE }}
          WX_MESSAGE_CONTENT: ${{ secrets.WX_MESSAGE_CONTENT }}
        run: |
          python reminder.py
